.ct-ratio-picker {
	display: flex;

	ul {
		flex: 1;
		font-size: 11px;
		font-weight: 500;
		letter-spacing: 0.05em;
	}

	button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 30px;
		height: 30px;
		padding: 0;
		margin-left: 12px;
		border: none;
		cursor: pointer;
		border-radius: 3px;
		background: transparent;
		transition: color 0.15s cubic-bezier(0.4, 0, 0.2, 1),
					background 0.15s cubic-bezier(0.4, 0, 0.2, 1),
					box-shadow 0.15s cubic-bezier(0.4, 0, 0.2, 1);

		&:focus {
			outline: none;
		}

		span {
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			width: 25px;
			height: 13px;
			border-radius: 1px;
			box-sizing: border-box;
			border: 1px dashed rgba(114, 119, 124, 0.5);
			transform: rotate(90deg);
			transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1),
						border-color 0.15s cubic-bezier(0.4, 0, 0.2, 1);

			&:before, &:after {
				position: absolute;
				content: '';
			}

			&:before {
				position: absolute;
				content: '';
				display: block;
				width: 13px;
				height: 25px;
				margin: 0 auto;
				border-radius: 2px;
				background: rgba(156, 163, 169, 1);
				transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
			}

			&:after {
				width: 25px;
				height: 13px;
				opacity: 0;
				border-radius: 2px;
				background: $accent_color;
				transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
			}
		}

		&:hover {
			span {
				border-color: transparent;

				&:before {
					opacity: 0.4;
				}

				&:after{
					opacity: 1;
				}
			}

			.ct-tooltip-top {
				opacity: 1;
				visibility: visible;
				transform: translate3d(0px, -38px, 0px);
			}
		}
	}

	// reversed
	&.reversed button span {
		transform: rotate(0deg);
	}
}