.admin-bar {
	@media screen and (max-width: 782px) {
		--adminBar: 46px;
	}

	@media screen and (min-width: 783px) {
		--adminBar: 32px;
	}

	#offcanvas,
	#search-modal {
		top: var(--adminBar) !important;
	}
}