.ct-site-pattern {
	display: none;
}

.site-has-pattern {
	
	.site-main {
		position: relative;

		> * {
			position: relative;
		}
	}

	.ct-site-pattern {
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.site-has-background-image {
	.site-main {
		background-image: var(--siteBackgroundImage);
		background-size: var(--siteBackgroundSize);
		background-repeat: var(--siteBackgroundRepeat);
		background-position: var(--siteBackgroundPosition);
		background-attachment: var(--siteBackgroundAttachment);
	}
}