$panel-height: 320px;

.ct-panel-builder {
	position: fixed;
	z-index: 999;
	left: 320px;
	right: 0;
	bottom: 0;
	height: $panel-height;
	background: #eee;
	box-sizing: border-box;
	border-top: 1px solid #ddd;
	bottom: $panel-height * -1;
	transition: bottom 0.18s linear;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@media screen and (max-width: 600px) {
		display: none !important;
	}

	> div {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}
}

.wp-full-overlay {
	@media screen and (min-width: 601px) {
		#customize-preview {
			transition: all 0.18s linear;
		}

		&.ct-show-builder {
			#customize-preview {
				height: auto;
				bottom: calc(#{$panel-height} + 25px);
			}

			.ct-panel-builder {
				// transform: translateY(0);
				bottom: 0;
			}
		}
	}
}
