// elements spacing
[data-items] {
	--margin: 0 10px;

	> * {
		margin: var(--margin);
	}
}

[data-column="start"] [data-items="primary"] > * {
	&:first-child {
		margin-left: 0;
	}
}

[data-column="end"] [data-items="primary"] > * {
	&:last-child {
		margin-right: 0;
	}
}