.entry-meta {
	display: flex;
	align-items: center;
	// font-size: 12px;
	font-size: var(--metaFontSize);
	font-weight: 600;
	text-transform: uppercase;
	// color: rgba(44, 62, 80, 1);

	ul {
		display: flex;
		flex-wrap: wrap;
		min-width: 0;
		@include list-normalize;
		margin-top: -5px;

		li {
			margin-top: 5px;
		}
	}

	&:not([data-label]) {
		.ct-meta-label {
			display: none !important;
		}
	}
}

.avatar-container {
	margin-right: 10px;
	border-radius: 100%;
	overflow: hidden;
	-webkit-mask-image: -webkit-radial-gradient(white, black);
}


.ct-meta-categories {
	word-wrap: break-word;
	min-width: 0;

	&[data-type="simple"] {
		.ct-meta-element {
			&:not(:last-child) {
				a:after {
					content: ',';
				}
			}
		}
	}

	// type pill
	&[data-type="pill"] {
		display: flex;
		flex-wrap: wrap;

		> * {
			&:not(:last-child) {
				margin-right: 7px;
			}
		}

		.ct-meta-label {
			display: flex;
			align-items: center;
		}

		.ct-meta-element {
			a {
				--buttonFontSize: 11px;
				--height: 25px;
				--padding: 0 8px;
				--buttonShadow: none;
				--buttonTransform: none;
				--buttonInitialColor: var(--paletteColor1);
				--buttonHoverColor: var(--paletteColor2);
			}
		}
	}

	// type underline
	&[data-type="underline"] {
		> * {
			&:not(:last-child) {
				margin-right: 8px;
			}
		}

		.ct-meta-element {
			&:not(:last-child) {
				&:after {
					content: '/';
					font-size: 90%;
					margin-left: 8px;
				}
			}

			a {
				position: relative;
				font-size: 11px;

				&:before {
					position: absolute;
					content: '';
					left: 0;
					bottom: -5px;
					width: 100%;
					height: 1px;
					opacity: 0.5;
					background: currentColor;
					transition: opacity 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955),
								transform 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);
				}

				&:hover {
					&:before {
						opacity: 1;
						// transform: translate3d(0, -1px, 0);
					}
				}
			}
		}
	}
}

// simple type
.entry-meta[data-type="simple"] {
	> ul > li {
		&:not(:last-child) {
			margin-right: 10px;

			&:after {
				content: '/';
				font-size: 90%;
				margin-left: 10px;
			}
		}
	}
}


// icons type
.entry-meta[data-type="icons"] {
	
	> ul > li {
		display: flex;
		align-items: center;

		&:not(:last-child) {
			margin-right: 15px;
		}
	}

	.ct-meta-icon {
		display: flex;
		margin-right: 6px;

		svg {
			fill: currentColor;
		}
	}

	// has avatar
	&.has-avatar .ct-meta-author {
		.ct-meta-icon {
			display: none;
		}
	}
}