:root {
	
	// Menu
	--menuItemsSpacing: 25px;
	// --dropdownTopOffset: 15px;

	// Primary menu
	--menuInitialColor: rgba(44, 62, 80, 0.9);
	--menuActiveColor: #ffffff;
	--menuHoverColor: var(--paletteColor1);

	// Widgets
	--widgetsTitleColor: rgba(44, 62, 80, 1);
	--widgetsFontColor: rgba(44, 62, 80, 0.9);

	// Modal
	--modalBackground: rgba(18, 21, 25, 0.98);

	// Meta
	--metaFontSize: 12px;

	// Woocommerce variables
	--starRatingColor: #FDA256;
	--saleBadgeTextColor: #ffffff;
	--saleBadgeBackgroundColor: var(--paletteColor1);
}