.footer-menu {
	--fontSize: 12px;
	--fontWeight: 700;
	--lineHeight: normal;
	--textTransform: uppercase;
	--menuInitialColor: var(--linkInitialColor);
	--menuHoverColor: var(--linkHoverColor);
	--menuActiveColor: var(--linkHoverColor);

	justify-content: center;
	margin-top: -10px;

	li {
		margin-top: 10px;
	}

	.child-indicator {
		display: none;
	}
}