[class*="header-menu"] {

	// type 1
	&[data-type="type-1"] > ul > li {
		> a {
			height: 100%;
		}
		
		&:first-child > a {
			padding-left: 0;
		}

		&:last-child > a {
			padding-right: 0;
		}
	}

	&[data-type="type-2"],
	&[data-type="type-3"],
	&[data-type="type-4"] {
		> ul > li {
			display: flex;
			align-items: center;

			> a {
				height: var(--height);
			}

			&:first-child:not(.current-menu-item) > a {
				padding-left: 0;
			}

			&:last-child:not(.current-menu-item) > a {
				padding-right: 0;
			}
		}
	}

	// type 2
	&[data-type="type-2"] > ul > li {
		&.current-menu-item a {
			position: relative;

			&:after {
				position: absolute;
				content: '';
				left: 0;
				bottom: 0;
				width: 100%;
				height: 2px;
				background: var(--menuIndicatorActiveColor);
			}
		}
	}

	// type 3
	&[data-type="type-3"] > ul > li {
		&.current-menu-item a {
			background: var(--menuIndicatorActiveColor);

			> a {
				color: var(--menuActiveColor);
			}
		}
	}

	// menu 4
	&[data-type="type-4"] > ul > li {
		&.current-menu-item a {
			position: relative;

			&:before, &:after {
				position: absolute;
				content: '';
				left: 0;
				width: 100%;
				height: 2px;
				background: var(--menuIndicatorActiveColor);
			}

			&:before {
				top: 0px;
			}

			&:after {
				bottom: 0px;
			}
		}
	}
}


// stretch menu
[data-stretch] {
	width: 100%;

	> ul {
		justify-content: space-between;
	}
}