.entry-summary form.cart {
	padding-top: 2em;
	margin-top: 50px;
	margin-bottom: 2em;
	border-top: 1px solid $border-color;
}


// simple product
.product-type-simple {
	form.cart {
		display: flex;
		flex-wrap: wrap;

		.single_add_to_cart_button {
			margin-left: 30px;
		}
	}
}


// grouped product
form.grouped_form {
	ul {
		@include list-normalize;

		li {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 1.8em;
			font-size: 15px;

			.woocommerce-grouped-product-list-item__label {
				flex: 0 1 250px;
				line-height: 1.4;
				margin-left: 30px;
			}

			.woocommerce-grouped-product-list-item__price {
				flex: 1 0 auto;
				font-weight: 500;
				text-align: right;
				margin-left: 30px;

				del {
					opacity: 0.7;
				}
			}
		}
	}

	.button {
		min-width: 130px;
	}
}


// variable product
form.variations_form {

	.variations {
		display: grid;
		@include media-breakpoint-up (lg) {
			grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		}

		@include media-breakpoint-only (md) {
			grid-template-columns: repeat(2, 1fr);
		}

		grid-column-gap: 25px;
		grid-row-gap: 25px;
		position: relative;
		@include list-normalize;

		li {
			label {
				display: block;
				font-size: 15px;
				font-weight: 500;
				margin-bottom: 10px;
			}

			.reset_variations {
				position: absolute;
				font-size: 0;
				top: 5px;
				right: 0;

				&:before {
					display: flex;
					justify-content: center;
					content: '×';
					width: 14px;
					height: 14px;
					font-size: 18px;
					line-height: 12px;
				}
			}
		}
	}

	.single_variation_wrap {
		margin-top: 2em;
	}

	.single_variation {
		display: none;
		padding-top: 1.6em;
		margin-bottom: 2em;
		border-top: 1px dashed $border-color;

		> * {
			&:not(:last-child) {
				margin-bottom: 1em;
			}
		}

		.price {
			font-size: 18px;

			del {
				font-size: 75%;
			}
		}

		.woocommerce-variation-availability {
			font-size: 12px;
			font-weight: 600;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			opacity: 0.7;
		}
	}

	.woocommerce-variation-add-to-cart {
		display: flex;
		flex-wrap: wrap;

		.single_add_to_cart_button {
			min-width: 140px;
			margin-left: 30px !important;
		}
	}

}